body {
  font-family: Arial, sans-serif;
  background-image: url('village-caffe.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff8f8;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  max-width: 700px;
  width: 100%;
}

h1, h2 {
  color: chocolate;
  text-align: center;
}

.Gambar1 {
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
}
.Gambar2{
  height: 45px;
  width: 45px;
  background-color: rgba(255, 255, 255, 0.1) ;
  border-radius: 40%;
}

.order-list {
  margin-bottom: 50px;
}

.status-icon {
  font-size: 2em;
  color: #007bff;
}

.status-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 2px solid #958b8b;
}

.order-item {
  display: grid;
  grid-template-columns: 170px 1fr 4fr 1fr; 
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #958b8b;
}

.order-item img {
  grid-column: 1; 
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%; 
}

.order-item-value {
  grid-column: span 1; 
  text-align: center;
}

.order-item-value-menu {
  grid-column: 2;
  text-align: left;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.order-details-value {
  font-size: 1.1em;
  color: #fff8f8;
}

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-links a:hover {
  color: rgb(34, 173, 223);
}

.footer-info {
  margin-top: 10px;
  font-size: 0.9em;
  color: chocolate;
}

.footer-info a {
  color: rgb(1, 83, 115);
}
